.serviceSec {
  background: #000;
  height: 100%;
  width: 100%;
  .wrapper {
    padding: 50px 80px 50px;
    .secHeading {
      margin-bottom: 20px;
      h2 {
        color: #fff;
        font-size: 48px;
      }
    }
    .cardContainer {
      display: flex;
      flex-flow: wrap;
      gap: 20px;
      .card {
        border: 1px solid gray;
        width: 32.30%;
        .cardImg{
           img{max-width: 100%;}
        }
        .cardData{padding: 30px;
            .subDetails{display: flex; flex-wrap:wrap ; justify-content: space-between; margin-bottom: 10px;
                h5{color: #fff; font-size: 18px;}
            }
            h2{color: #fff; font-size: 28px; margin-bottom: 10px;}
            p{color: #fff; font-size: 16px;}
        }
      }
    }
  }
}
